@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* CORES */

:root{
    --floresta-cor-caixa: #1b3d2f;
    --floresta-cor-input: #2e5339;
    --floresta-cor-itens-lista: #3c6644;
    --floresta-cor-botao-adicionar: #546b4e;
    --floresta-cor-botoes-lista: #a38159;
    --floresta-cor-texto: #d6c4a6;
    --floresta-cor-barra-progresso-vazia: #898a87;
    --floresta-cor-barra-progresso-cheia: ;

    --gelo-cor-caixa: #4895ab;
    --gelo-cor-input: #346f87;
    --gelo-cor-itens-lista: #7cb9c8;
    --gelo-cor-botao-adicionar: #2b4b5e;
    --gelo-cor-botoes-lista: #205a7c;
    --gelo-cor-texto: #24292d;
    --gelo-cor-barra-progresso-vazia: #a5cbd5;

    --terra-cor-caixa: ;
    --terra-cor-input: ;
    --terra-cor-itens-lista: ;
    --terra-cor-botao-adicionar: ;
    --terra-cor-botoes-lista: ;
    --terra-cor-texto: ;
    --terra-cor-barra-progresso-vazia: ;

    --lava-cor-caixa: #330d0f;
    --lava-cor-input: #460d0c;
    --lava-cor-itens-lista: #2f0d0f;
    --lava-cor-botao-adicionar: #72110b;
    --lava-cor-botoes-lista: #8c1811;
    --lava-cor-texto: #fab86b;
    --lava-cor-barra-progresso-vazia: #8c5c54;

    --montanha-cor-caixa: #2c2b34;
    --montanha-cor-input: #898a87;
    --montanha-cor-itens-lista: #7f8394;
    --montanha-cor-botao-adicionar: #595f68;
    --montanha-cor-botoes-lista: #abb4b8;
    --montanha-cor-texto: #000000;
    --montanha-cor-barra-progresso-vazia: #787e8c;

    --fonte:"Cinzel", serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/Trabalho-Final-DW1/imagensfundo/pexels-taryn-elliott-4840134.jpg);
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    /* background-color: darksalmon; */
}

/* DROPDOWN-BOX  E SELECT DE TEMAS*/

.dropdown-box{
    position: relative;
    display: inline-block;
    padding: 1.25rem;
}


#select{
    color: black;
    background-color: beige;
    width: 9rem;
    height: 1.5rem;
    border-radius: 0.7rem;

    background-color: rgb(176, 176, 176);
}

/* DIV PRINCIPAL */

.principal{
    display: flex;
    justify-content: center ;
    /* background-color: #4CAF50; */
    margin-top: 100px;
}

.titulo{
    font-size: xx-large;
    color:#d6c4a6;
    font-family: var(--fonte);
    text-shadow:0 0 15px #a38159;
    
    
    /* border: 1px solid black; */
}

/* Caixa onde fica o input e os outros itens */
.caixa{
    
    display: flex;
    height: 100px;
    width: auto;
    background-color:#1b3d2f;
    justify-content: center;
    padding:3px;
    
    
}

/* área dentro da caixa que fica o botão e o input */
.adicionar-item{
    display: flex;
    align-items: center ;
    gap: 30px;
}

/* butao */
.caixa button{
    height: 40px;
    width: 60px;
    font-size: x-large;
    cursor: pointer;
    color:#a38159;
    background-color: #546b4e;
    border:1px transparent black;
    outline: none;
    box-shadow: none;
    border-radius: 10%;
}

/* input */
.caixa input{
    height: 40px;
    width: 400px;
    background-color:#2e5339;
    outline: none;
    box-shadow: none;
    color: #a38159;
    border-radius: 5%;
    border: 1px solid black;
    font-size: large;
    font-family: "Cinzel", serif;;
}

