*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
}

/* DROPDOWN-BOX */

.dropdown-box{
    position: relative;
    display: inline-block;
}

.dropdown-item{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-item button{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-box:hover .dropdown-item{
    display: block;
}

.dropdown-box:hover .dropdown-btn{
    background-color: #3e8e41;
}

.dropdown-btn{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn{
    width: 5rem;
    height: 2.5rem;
    background-color: violet;
}