@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fonte:"Cinzel", serif;
    --floresta-cor-caixa: #1b3d2f;
    --floresta-cor-input: #2e5339;
    --floresta-cor-itens-lista: #3c6644;
    --floresta-cor-botao-adicionar: #546b4e;
    --floresta-cor-botoes-lista: #a38159;
    --floresta-cor-texto: #d6c4a6;
    --floresta-cor-barra-progresso-vazia: #898a87;

    --gelo-cor-caixa: #4895ab;
    --gelo-cor-input: #346f87;
    --gelo-cor-itens-lista: #7cb9c8;
    --gelo-cor-botao-adicionar: #2b4b5e;
    --gelo-cor-botoes-lista: #205a7c;
    --gelo-cor-texto: #24292d;
    --gelo-cor-barra-progresso-vazia: #a5cbd5;

    --terra-cor-caixa: ;
    --terra-cor-input: ;
    --terra-cor-itens-lista: ;
    --terra-cor-botao-adicionar: ;
    --terra-cor-botoes-lista: ;
    --terra-cor-texto: ;
    --terra-cor-barra-progresso-vazia: ;

    --lava-cor-caixa: #330d0f;
    --lava-cor-input: #460d0c;
    --lava-cor-itens-lista: #2f0d0f;
    --lava-cor-botao-adicionar: #72110b;
    --lava-cor-botoes-lista: #8c1811;
    --lava-cor-texto: #fab86b;
    --lava-cor-barra-progresso-vazia: #8c5c54;

    --montanha-cor-caixa: #2c2b34;
    --montanha-cor-input: #898a87;
    --montanha-cor-itens-lista: #7f8394;
    --montanha-cor-botao-adicionar: #595f68;
    --montanha-cor-botoes-lista: #abb4b8;
    --montanha-cor-texto: #000000;
    --montanha-cor-barra-progresso-vazia: #787e8c;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--fonte);
}

body{
    background-image: url(../imagensfundo/pexels-taryn-elliott-4840134.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    
}

/* fazer a caixinha de opções de temas */
.dropdown-box{
    position: relative;
    display: inline-block;
    padding: 2rem;
}


#select{
    color: black;
    background-color: beige;
    width: 9rem;
    height: 1.5rem;
    border-radius: 0.7rem;
    background-color: rgb(176, 176, 176);
}

h1{
    /* text-align: center; */
    color: wheat;
    text-shadow:0px 0px .3125rem #a38159;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;


}

div.box{
    width: 45%;
}

.box{
    background-color:var(--floresta-cor-caixa);
    padding: 1.625rem;
    border-radius: .3125rem;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    /* scroll-behavior: smooth; */
    /* border: 1px solid black; */
    color: var(--floresta-cor-texto);
    box-shadow: 0rem .25rem .3125rem black;
}

.topo-box{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.selecionar{
    font-size: auto;
    padding: .1875rem;
    outline: none;
    box-shadow: 0rem .25rem .3125rem black;
    border-radius: .375rem;
    /* margin-bottom: 1
    .25rem; */
    background-color: var(--floresta-cor-input);
    color: var(--floresta-cor-texto);
    border: 1px solid black;
    /* margin-right: 100px; */
    width: 70%;

}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    padding: .1875rem;
    width: 15%;
    border-radius: .375rem;
    /* margin-bottom: 1.25rem; */
    background-color: var(--floresta-cor-botao-adicionar);
    color: var(--floresta-cor-botoes-lista);
    box-shadow: 0rem .25rem .3125rem black;
    cursor: pointer;
}

.lista-box{
    /* display:flex; */
    /* width: 100%; */
    height: 100%;
    justify-content: space-between;
    /* column-gap: 10px; */

}
.box li{
    display: flex;

    /* justify-content: space-between; */
    list-style: none;
    margin-bottom: 1.25rem;
    background-color: aliceblue;
    /* padding: .3125rem; */
    font-size: x-large;
    padding: .625rem;
    box-shadow: 0rem .25rem .625rem rgb(0, 0, 0);
    width: 100%;
    border-radius:.375rem ;
}

.box ul{
    margin-top: 3.125rem;
}

.box li .check{
    display: flex;
    font-size: 1rem;
    /* height: 100%; */
    width: 7%;
    justify-content: center;
    align-items: center;
    
}
.lista-box button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box li .icons{
    display: flex;
    /* background-color:red ; */
    align-items: center;
    opacity: 0;
    /* gap: .25rem; */
    width: 10%;
    height: 100%;
    justify-content: space-between;
}

.box li:hover .icons{
    opacity: 1;
}
.box li .texto-tarefa{
    /* display: flex; */
    /* justify-content: center; */
    /* text-align: center; */
    width: 83%;
    height: 100%;
    align-items: center;
    /* background-color: #1b3d2f; */

}

.feito {
    background-color: #1b3d2f;
    text-decoration: line-through;
}

.edit-input{
    display: flex;
    font-size: x-large;
    outline: none;
    border: none;
    width:100%;

}


.barra-progresso{
    width: 100%;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    text-overflow:clip;
    margin: 10px 0;
}

.progresso{
    height: 100%;
    width:0;
    background-color:#898a87;
    border-radius: .625rem;

}

#progresso-texto{
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    font-weight: bolder;
    color: #f3f3f3;
}


.contato-box{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    height: 600px;
    width: 1200px;
    background-color: rgb(145, 177, 177);
    padding: .25rem;
    gap: 10px;
    

}
.contato-box h1{
    text-align: center;
}

.contato-box .contato{
    display: flex;
    background-color: #1b3d2f;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    /* margin-top: 10px; */
}

.contato .foto-place{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: burlywood;
    height: 100%;
    width: 20%;


}

.foto-place .fotomateus{
    height: 4.6875rem;
    width: 4.6875rem;
    background-image: url(../imagensfundo/89a97461-87dd-43e5-97e7-b51997da12c7\ \(1\).jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}
.foto-place .fotoanna{
    height: 4.6875rem;
    width: 4.6875rem;
    background-image: url(../imagensfundo/ffa2eab0-a467-440e-bfcb-fe3a9d116a28.jpeg);
    background-position: center;
    background-size:cover;
    border-radius: 100%;
}

.contato .infos{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: .9375rem;
    height: 100%;
    width: 60%;
    background-color: bisque;
    
}

.contato .redes{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes .bi{
    display:flex;
    justify-content: space-around;
    color: #f3f3f3;
    font-size: 3rem;
}

.fechar{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    right:0;
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

#chat-no-zap{
    height: 35px;
    margin-left: .3125rem;
}

